{% extends 'template.html' %}
{% load static %}

{% block main_content %}
     <section id="main-content">
          <section class="wrapper site-min-height">
          	<h3><i class="fa fa-angle-right"></i> 创建采购订单</h3>
          	<div class="row mt">
          		<div class="col-lg-12" id="po-create-enter">


                    <div class="col-md-4 col-sm-4 mb" id="poc-enter1">
                        <a href="/mm/purchaseorder/pcs/">
                        <div class="darkblue-panel pn">
                            <div class="darkblue-header">
                            </div>
                            <h1 class="mt"><i class="fa fa-user fa-3x"></i></h1>
                          <p>根据报价申请信息生成</p>
                          <footer>
                              <div class="centered">
                                  <h3>系统创建</h3>
                              </div>
                          </footer>
                        </div><! -- /darkblue panel -->
                    </a>
                    </div><!-- /col-md-4 -->

{#              <div class="col-md-4 col-sm-4 mb" id="poc-enter2">#}
{#                <a href="/mm/purchaseorder/cremanu/">#}
{#                <div class="darkblue-panel pn">#}
{#                    <div class="darkblue-header">#}
{#                    </div>#}
{#                    <h1 class="mt"><i class="fa fa-user fa-3x"></i></h1>#}
{#                  <p>用户手动填写所有信息</p>#}
{#                  <footer>#}
{#                      <div class="centered">#}
{#                        <h3>手动创建</h3>#}
{#                      </div>#}
{#                  </footer>#}
{#                </div><! -- /darkblue panel -->#}
{#            </a>#}
{#            </div><!-- /col-md-4 -->#}

          		</div>
          	</div>

		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->
{% endblock %}

{% block extra_css %}

{% endblock %}

{% block js %}
 <script>
      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });

  </script>
{% endblock %}




