{% extends 'template.html' %}
{% load static %}
{% block extra_css %}

{% endblock %}



    <script>
        hljs.highlightAll();
    </script>

    <script>
        const notice = new Notice();
    </script>

    {% block main_content %}
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->

          <section id="main-content">
          <section class="wrapper">
          	<h3><i class="fa fa-angle-right"></i> 创建报价申请</h3>
          	<!-- BASIC FORM ELELEMNTS -->
          	<div class="row mt">
          		<div class="col-lg-12">
                  <div class="form-panel">
                  	  <h4 class="mb"><i class="fa fa-angle-right"></i> 报价申请</h4>
                        <form class="form-horizontal style-form" method="post">
                        <div class="form-group">
                        <div class="col-md-12 mt">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>采购申请编码</th>
                                        <th>条目编码</th>
                                        <th>商品编码</th>
                                        <th>工厂</th>
                                        <th>存储位置</th>
                                        <th>数量</th>
                                        <th>送货时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for c in reque %}
                                    <tr>
                                        <td id="rid">{{c.requisitionitem__id}}</td>
                                        <td id="iid">{{c.requisitionitem__itemId}}</td>
                                        <td id="mid">{{c.requisitionitem__meterial__id}}</td>
                                        <td>{{c.stockname}}</td>
                                        <td>{{c.requisitionitem__meterial__sloc}}</td>
                                        <td><input type="text" name="quantity" class="form-control rfq-td-create" id="quantity"></td>
                                        <td><input type="text" class="form-control rfq-td-create" name="deliveryDate" onclick="date(this)" id="deliveryDate"></td>
                                    </tr>
                                </tbody>
                                {% endfor %}
                                </table>
                        </div><!-- /col-md-12 -->
                    </div>

                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">截止日期</label>
                            <div class="col-sm-10">
                                <input type="text" name="deadline" class="form-control" onclick="date(this)" id="deadline" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">集合码信息</label>
                            <div class="col-sm-10">
                                <input name="collNo" type="text"  class="form-control" id="collNo" >
                            </div>
                        </div>
                        <h5 class="mb"><i class="fa fa-angle-right"></i> 合作供应商相关信息   <button type="button" class="btn btn-round btn-primary" id="btn-addgood" onclick="addvendor()">添加供应商</button></h5>

                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">供应商编码</label>
                            <div class="col-sm-10">
                                <input type="text"  name="vendorvid" class="form-control" id="gyscode" >
                                <button type="button" class="btn btn-link " data-toggle="modal" data-target="#myModalgys">忘记编号？</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">供应商名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="vdname1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">城市</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="city1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">街区地址</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="location1">
                            </div>
                        </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">供应商邮编</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" id="postcode1">
                              </div>
                          </div>

                          <div class="form-group">
                            <div class="col-md-12 mt">
                                <div class="content-panel">
                                    <table class="table table-hover">
                                     <div id="table-pr-head"> <h4><i class="fa fa-angle-right"></i> 供应商信息</h4>

                                    </div>
                                        <thead>
                                        <tr>
                                            <th>供应商编码</th>
                                            <th>供应商名称</th>
                                            <th>城市</th>
                                            <th>街区地址</th>
                                            <th>供应商邮编</th>
                                        </tr>
                                        </thead>
                                        <tbody id="gysdiv">

                                    </tbody>
                                    </table>
                </div><! --/content-panel -->
                </div><!-- /col-md-12 -->
            </div>
              <div id="btn-rfq-create">
                <button type="button" class="btn btn-primary btn-lg btn-block" onclick="create()">创建报价申请</button>
        </div>
    </form>
                  </div>
          		</div><!-- col-lg-12-->
          	</div><!-- /row -->

<!--搜索供应商编码modal-->
<div class="modal fade" id="myModalgys" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">搜索供应商编号</h4>
        </div>
        <div class="modal-body">
          <!-- Hi there, I am a Modal Example for Dashgum Admin Panel. -->
          <!-- 搜索条件 -->
          <form  id="material2" class="form-horizontal style-form">
            <div class="form-group">
                <!-- <label class="col-sm-1 col-sm-1 control-label"></label> -->
                <label class="col-sm-4 col-sm-4 control-label">
                    <div class="pull-right">供应商名称：</div>
                    </label>
                <div class="col-sm-5">
                    <input name="vname" id="vname" type="text" class="form-control">
                </div>
                
            </div>
            <div class="form-group">
                <!-- <label class="col-sm-1 col-sm-1 control-label"></label> -->
                <label class="col-sm-4 col-sm-4 control-label">
                    <div class="pull-right">所在城市：</div>
                    </label>
                <div class="col-sm-5">
                    <input name="city" id="city" type="text" class="form-control">
                </div>
                
            </div>
            <div class="form-group">
                <!-- <label class="col-sm-1 col-sm-1 control-label"></label> -->
                <label class="col-sm-4 col-sm-4 control-label">
                    <div class="pull-right">创建者编号：</div>
                    </label>
                <div class="col-sm-5">
                    <input name="uid" id="uid" type="text" class="form-control">
                </div>
                
            </div>
            <div class="form-group">
                <!-- <label class="col-sm-1 col-sm-1 control-label"></label> -->
                <label class="col-sm-4 col-sm-4 control-label">
                    <div class="pull-right">国家：</div>
                    </label>
                <div class="col-sm-5">
                  <select class="form-control"  name="country" id="country"></select>
                </div>
                
            </div>
            <div class="form-group">
              <!-- <label class="col-sm-1 col-sm-1 control-label"></label> -->
              <label class="col-sm-4 col-sm-4 control-label">
                  <div class="pull-right">公司编码：</div>
                  </label>
              <div class="col-sm-5">
                  <select class="form-control"  name="company" id="company"></select>
              </div>
              <div class="col-sm-2">
              <input type="submit"  class="btn btn-theme02">
              </div>
          </div>

        </form>
        <table  class="table table-bordered table-striped table-condensed">
          *双击填入编号                                       
          <thead>
          <!-- 搜索编号返回的属性 style="width: 100px;"-->
          <tr>
              <th> 供应商编号</th>
              <th> 供应商名称</th>
              <th> 所在城市</th>
              <th> 街区地址</th>
              <th> 供应商邮编</th>
          </tr>
          </thead>
          <tbody id="searchDiv"></tbody>
      </table>
    {% endblock %}

    {% block js %}
        <script>

            $('#material2').on('submit', function(e) {
                e.preventDefault();
                $.ajax(
                {
                    type: "POST",
                    url: "{% url 'MM:ajax_search_vendor' %}",
                    data:{
                        dataType: "json",
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        vname: $("#vname").val(),
                        city: $("#city").val(),
                        country: $("#country").val(),
                        companyCode: $("#company").val(),
                        uid: $("#uid").val(),
                    },
                    success: function(data) {
                        $('#item_result').text(data);
                        var dataObj = eval("("+data+")");
                        var out = "";
                        var i;
                        for(i = 0; i < dataObj.length; i++) {
                            fields = dataObj[i].fields
                            out += '<tr><td>'+ dataObj[i].pk+ '</td><td>' + fields.vname+ '</td><td>' + fields.city+ '</td><td>' + fields.address+ '</td><td>'+ fields.fax+ '</td><tr>';
                        }
                        document.getElementById("searchDiv").innerHTML=out;
                    },
                    failure: function() {

                    }
                })
            });
 //双击行 信息进入“搜索商品条件”三个框
 $("table").on("dblclick","tr",function(e){
    document.getElementById("gyscode").value=$(this).find('td').eq(0).text();
    document.getElementById("vdname1").value=$(this).find('td').eq(1).text();
    document.getElementById("city1").value=$(this).find('td').eq(2).text();
    document.getElementById("location1").value=$(this).find('td').eq(3).text();
    document.getElementById("postcode1").value=$(this).find('td').eq(4).text();
    $('#myModalgys').modal('hide');
});
        </script>

        </div>
        
        <div class="modal-footer">
          
        </div>
      </div>
    </div>
  </div>

<!--搜索供应商编码modal-->

     
		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

    </form>


      <!--main content end-->
      <!--footer start-->
     
      <!--footer end-->
  </section>


      
  <script>
          function date(time){
          var datepicker = new TheDatepicker.Datepicker(time);
          datepicker.render();
          }
  </script>

  <script>
      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });

  </script>
<script>
    var i=0
    function addvendor() {

        if($("#gyscode").val()!=''&&$("#vdname1").val()!=''&&$("#city1").val()!=''&&$("#location1").val()!=''&&$("#postcode1").val()!=''){
        i++
    var vdcode= $("#gyscode").val()
    var vdname = $("#vdname1").val()
    var city = $("#city1").val()
    var location = $("#location1").val()
    var postcode = $("#postcode1").val()
    var trStr = ''
    trStr = '<tr><td>' + vdcode + '</td><td>' + vdname + '</td><td>' + city + '</td><td>' + location + '</td><td>' + postcode + '</td></tr>'
    document.getElementById("gysdiv").innerHTML += trStr;
    $("#gyscode").val('');
    $("#vdname1").val('');
    $("#city1").val('');
    $("#location1").val('');
    $("#postcode1").val('');
    showMessage({text: '添加成功！',type: 'success'})}
else
    showMessage({text: '信息不全或有误，请重新填写！',type: 'warning'})
}

function create(){ //提交表格，创建成功
        var tableBody = document.getElementById('gysdiv');
        if($("#quantity").val()!=''&&$("#deliveryDate").val()!=''&&tableBody.children.length != 0) {
            var tabLen = document.getElementById("gysdiv");
            var quantity = $("#quantity").val()
            var deliveryDate = $("#deliveryDate").val()
            var collNo = $("#collNo").val()
            var deadline = $("#deadline").val()
            var gyscode = $("#gyscode").val()
            var rid = document.getElementById("rid").innerHTML
            var iid = document.getElementById("iid").innerHTML
            var mid = document.getElementById("mid").innerHTML
            var jsonT = "[";
            var v = new Array()
            for (var i = 0; i < tabLen.rows.length; i++) {
                jsonT += '{"vid":"' + tabLen.rows[i].cells[0].innerHTML + '"},'
                v[i] = tabLen.rows[i].cells[0].innerHTML
            }
            jsonT = jsonT.substr(0, jsonT.length - 1);
            jsonT += "]";
            console.log(jsonT);
            console.log(quantity);
            console.log(deliveryDate);
            console.log(jsonT, quantity);

            console.log(jsonT, quantity, deliveryDate, collNo)
            console.log(jsonT, collNo, deadline, rid, iid, mid)
            console.log(jsonT, quantity, deliveryDate, collNo, deadline, rid, iid, mid);
            $.ajax({
                type: 'post',
                url: '/mm/quotation/rfqinfo',
                data: {
                    "json": jsonT,
                    "quantity": quantity,
                    "deliveryDate": deliveryDate,
                    "collNo": collNo,
                    "deadline": deadline,
                    "id": rid,
                    "itemId": iid,
                    "meterial__id": mid
                },
                success: function (data) {
                    let a = JSON.parse(data)
                    var j
                    for (j = 0; j < i; j++) {
                        showMessage({
                            text: '供应商' + v[j] + '的报价申请创建成功！报价申请单编号：' + a[j],
                            type: 'success',
                            showClose: true,
                            autoClose: false
                        })
                    }
                }
            });
        }
        else {
            if(tableBody.children.length == 0){
                showMessage({
                text: '供应商信息不得为空！',
                type: 'warning',
                showClose: true,
                autoClose: false
                })
            }
            if($("#quantity").val()==''||$("#deliveryDate").val()=='') {
                showMessage({
                    text: '请填写数量和送货时间！',
                    type: 'warning',
                    showClose: true,
                    autoClose: false
                })
            }
        }
}
</script>
 {% endblock %}
