{% extends 'template.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/RFQ-info.css' %}">
{% endblock %} {% block main_content %}
<section id="main-content">
  <section class="wrapper">
    <h3><i class="fa fa-angle-right"></i> 查看报价申请详情</h3>

    <div class="row mt">
      <div class="col-lg-12">
        <div class="col-lg-12">
          <div class="content-panel">
            <h4>
              报价申请详情 {% for c in quoatations %}

              <label style="margin-left: 76%; color: brown; font-size: larger"
                >拒绝情况：{{c.rej}}</label
              >
            </h4>
            <section id="unseen">
              <table class="table">
                <thead>
                  <tr>
                    <th>基本信息</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <label>报价申请单编码：</label>
                      <label>{{c.id}}</label>
                    </td>
                    <td>
                      <label>创建者编码：</label>
                      <label>{{c.euser_id}}</label>
                    </td>
                    <td>
                      <label>参考请购单编码：</label>
                      <label>{{c.ri_id}}</label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label>询价单的截止日期：</label>
                      <label>{{c.deadline}}</label>
                    </td>

                    <td>
                      <label>创建时间：</label>
                      <label>{{c.time}}</label>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                  </tr>
                </tbody>

                {%endfor%}
              </table>

              <table class="table">
                <thead>
                  <tr>
                    <th>采购相关信息</th>
                  </tr>
                </thead>
                <tbody>
                  {% for c in caigou %}
                  <tr>
                    <td>
                      <label>采购组织：</label>
                      <label>{{c.quotation__vendor__pOrg}}</label>
                    </td>

                    <td>
                      <label>采购组：</label>
                      <label>{{c.meterial__stock__pGrp}}</label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label>商品编码：</label>
                      <label>{{c.meterial__id}}</label>
                    </td>
                    <td>
                      <label>采购数量：</label>
                      <label>{{c.quantity}}</label>
                    </td>
                    <td>
                      <label>送货时间：</label>
                      <label>{{c.deliveryDate}}</label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label>工厂：</label>
                      <label>{{c.meterial__stock__name}}</label>
                    </td>
                    <td>
                      <label>存储位置：</label>
                      <label>{{c.meterial__sloc}}</label>
                    </td>
                    <td>
                      <label>集合码：</label>
                      <label>{{c.collNo}}</label>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                  </tr>
                  {%endfor%}
                </tbody>
              </table>

              <table class="table">
                <thead>
                  <tr>
                    <th style="display: flex; justify-content: space-between">
                      供应商相关信息 {% for c in vendor %}

                      <div style="margin-left: 2%">
                        <label
                          ><span class="iconfont">&#xf0290;</span
                          >&nbsp;供应商评分：</label
                        >
                        <label>{{c.score}}</label>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <label>供应商编码：</label>
                      <label>{{c.vid}}</label>
                    </td>
                    <td>
                      <label>供应商名称：</label>
                      <label>{{c.vname}}</label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label>城市：</label>
                      <label>{{c.city}}</label>
                    </td>
                    <td>
                      <label>街区地址：</label>
                      <label>{{c.address}}</label>
                    </td>
                    <td>
                      <label>供应商邮编：</label>
                      <label>{{c.postcode}}</label>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                  </tr>
                </tbody>
                {%endfor%}
              </table>

              <table class="table">
                <thead>
                  <tr>
                    <th>报价信息</th>
                  </tr>
                </thead>
                <tbody>
                  {% for c in baojia %}
                  <tr>
                    <td>
                      <label>报价：</label>
                      <label>{{c.price}}</label>&nbsp;&nbsp;<label
                        >{{c.currency}}</label
                      >
                    </td>
                    <td>
                      <label>报价有效期：</label>
                      <label>{{c.deadline}}</label>
                    </td>
                    <td>
                      <label>报价数量：</label>
                      <label>{{c.quantity}}</label>
                    </td>
                    <td>
                      <label>总价：</label>
                      <label>{{c.sum}}</label>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                  </tr>
                  {%endfor%}
                </tbody>
              </table>
            </section>
          </div>
          <!-- /content-panel -->
        </div>
        <!-- /col-lg-4 -->
      </div>
      <!-- /r ow -->
    </div>
  </section>
  <!--/wrapper -->
</section>
<!-- /MAIN CONTENT -->

<!--main content end-->
<!--footer start-->

<!--footer end-->

<!-- js placed at the end of the document so the pages load faster -->
<script src="{% static 'assets/js/jquery.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script
  class="include"
  type="text/javascript"
  src="{% static 'assets/js/jquery.dcjqaccordion.2.7.js' %}"
></script>
<script src="{% static 'assets/js/jquery.scrollTo.min.js' %}"></script>

<!--common script for all pages-->
<script src="{% static 'assets/js/common-scripts.js' %}"></script>

<script>
  //   if(==1)
  //   $("#deny").prop("checked",true); //勾选
  //else $("#deny").prop("checked",false);//取消勾选
</script>

{% endblock %}
