{% extends 'template.html' %}
{% load static %}
{% block extra_css %}

{% endblock %}

{% block main_content %}
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
          	<h3><i class="fa fa-angle-right"></i> 创建报价申请</h3>
              <div class="row mt">
                <div class="col-lg-12">
                    
                <div class="form-panel3">
                    <form class="form-horizontal style-form" method="post">

                                <div class="col-sm-9" id="search">
                                    <div class="col-sm-1 col-sm-1 control-label" id="pur-tag1">
                                        采购申请编码
                                    </div>
                                    <div class="col-sm-2" id="pur-search1">
                                        <input type="text" class="form-control" name = "id" placeholder="请输入">
                                    </div>
                                    <div class="col-sm-1 col-sm-1 control-label" id="pur-tag2">
                                        创建者编码
                                    </div>
                                    <div class="col-sm-2" id="pur-search2">
                                        <input type="text" class="form-control"  name="euserid"  placeholder="请输入"   id="cjzcode">
                                    </div>
                                    <div class="col-sm-1 col-sm-1 control-label" id="pur-tag3">
                                        商品编码
                                    </div>
                                    <div class="col-sm-2" id="pur-search3">
                                        <input type="text" class="form-control"name="materialid" placeholder="请输入" id="spcode">
                                        <button type="button" class="btn btn-link " data-toggle="modal" data-target="#myModalgood">忘记编号？</button>

                                    </div>


                                <!-- </div> -->
                                <button type="submit" class="btn btn-success">搜索</button>

                            </div>
                            
                            <!-- <div class="col-lg-3">
                                
                            </div> -->
                    </form>
                </div>
            </div>
            </div>

           <!--搜索商品编码modal-->
           <div class="col-sm-12">
            <div class="modal fade" id="myModalgood" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel">搜索商品编码</h4>
                    </div>
                    <div class="modal-body">
                      <!-- Hi there, I am a Modal Example for Dashgum Admin Panel. -->
                      <!-- 搜索条件 -->
                      <form class="form-horizontal style-form" id="material" method="post">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-4 col-sm-4 control-label">
                                    <div class="pull-right">商品名称:</div>
                                    </label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="mname" id="mname">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 col-sm-4 control-label">
                                    <div class="pull-right">商品类型:</div>
                                    </label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="industrySector" id="industrySector">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 col-sm-4 control-label">
                                    <div class="pull-right">储存位置:</div>
                                    </label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="mType" id="mType">
                                </div>
                                <div class="col-sm-2">
                                    <input class="btn btn-theme02" type="submit" name="submit" value="submit">
                                </div>
                            </div>
                          </fieldset>
                    </form>
                    

                    <table  class="table table-bordered table-striped table-condensed">
                        <thead>
                            <!-- tr 指定表行标签-->
                            <tr>
                                <!-- th 设置表头内容，默认加粗-->
                                <th>商品编号</th>
                                <th>商品名称</th>
                            </tr>
                        </thead>
                        <tbody id="searchDiv">


                        </tbody>
                    </table>
                    <script>
                        $('#material').on('submit', function(e) {
                            e.preventDefault();
                            $.ajax(
                            {
                                type: "POST",
                                data:{
                                    mname: $("#mname").val(),
                                    mType: $("#mType").val(),
                                    industrySector: $("#industrySector").val(),
                                    csrfmiddlewaretoken: '{{ csrf_token }}',
                                    dataType: "json"
                                },
                                success: function(data) {
                                  //  $('#material_result').text(data);
                                    var dataObj=eval("("+data+")");
                                    var out = "";
                                    var i;
                                    //"pk": 1, "fields": {"mname": "CHLK", "mType": "HALB", "mGroup": "AS", "meaunit": "ABC", "netWeight": 1, "weightUnit": "ABC", "transGrp": "T", "loadingGrp": "L", "industrySector": "I"}
                                    for(i = 0; i < dataObj.length; i++) {
                                        //out += '<p '+ dataObj[i].fields.mname + '>' + '</p><br>';<a href="basic_table.html#">Company Ltd</a>
                                        out += '<tr><td>'+ dataObj[i].pk+ '</td><td>' + dataObj[i].fields.mname +'</td><tr>';
                                    }
                                    document.getElementById("searchDiv").innerHTML=out;
                                },
                                failure: function() {
            
                                }
                            })
                        });
                        $("table").on("dblclick","tr",function(e){
                            
                            document.getElementById("spcode").value=$(this).find('td').eq(0).text();
                            $('#myModalgood').modal('hide')
                            
                        })
                        
                    </script>
                    </div>
                    <div class="modal-footer">
                    </div>
                  </div>
                </div>
              </div>
            </div>
<!--搜索商品编码modal-->

    <!--创建者编码modal--> 
    <div class="col-sm-12">
        <div class="modal fade" id="myModalcjz" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">创建者编码</h4>
                </div>
                <div class="modal-body">
                  
                <table  class="table table-bordered table-striped table-condensed">
                    <thead>
                        <!-- tr 指定表行标签-->
                        <tr>
                            <!-- th 设置表头内容，默认加粗-->
                            <th style="width: 100px;">序号</th>
                            <th>创建者编码</th>
                        </tr>
                    </thead>
                    <tbody id="cjzDiv">

                    </tbody>
                </table>

                <script>   //不需要提交表单，点击input框加载modal直接列出创建者编码
                    $('').on('', function(e) {
                        e.preventDefault();
                        $.ajax(
                        {
                            type: 
                            url,
                            data:{
                               
                            },
                            success: function() {
                              var i=0 //序号
                                for() {
                                    i++
                                    out += '<tr><td>'+ i + '</td><td>' + /* 创建者编码 */ +'</td><tr>';
                                }
                                document.getElementById("cjzDiv").innerHTML=out;
                            },
                            failure: function() {
        
                            }
                        })
                    });
                    $("table").on("dblclick","tr",function(e){
                        
                        document.getElementById("cjzcode").value=$(this).find('td').eq(0).text();
                        $('#myModalcjz').modal('hide')
                        
                    })
                    
                </script>
                
                </div>
                <div class="modal-footer">
                </div>
              </div>
            </div>
          </div>
        </div>
<!--创建者编码modal-->

              <div class="row mt">
                  <div class="col-md-12">
                    <div class="col-md-12">
                    <div class="content-panel">
                        <!-- <div class="form-panel2"> -->
                        
                        <table class="table table-striped table-advance table-hover">
                                <h4><i class="fa fa-angle-right"></i> 采购申请列表</h4>
                                <hr>
                            <thead>
                            <tr>
                                <th><i class="fa fa-bullhorn"></i> 采购申请编码</th>
                                <th class="hidden-phone"><i class="fa fa-question-circle"></i> 创建者编码</th>
                                <th><i class=" fa fa-edit"></i> 创建时间</th>
                                <th><i class="fa fa-bookmark"></i> 备注</th>
                                <th> 操作</th>
                         
                            </tr>
                            </thead>
                            <tbody>
                                {% for c in quoatations %}
                                <tr>
                                    <td>{{ c.id }} </td>
                                    <td>{{ c.euser_id }} </td>
                                    <td>{{ c.time }} </td>
                                    <td class="pr-td"><span class="beizhu">{{ c.text }} </span></td>
                                    <td>
                                        <!-- <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button> -->
                                        <a href="/mm/quotation/rfqcreateinfo/{{c.id}}"><button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></a>
    
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    </div>
                     
                      </div>
                  </div><!-- /col-md-12 -->
              </div><!-- /row -->

		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <!--footer start-->
     
      <!--footer end-->
  </section>
{% endblock %}

{% block js %}



  <script>
      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });

  </script>


<script>
   function openInsertModal() {
//弹出模态框
$("#myModalcjz").modal("show")

}
</script>
{% endblock %}
