{% extends 'template.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/RFQ-info.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/RFQ.css' %}">
{% endblock %}
{% block main_content %}
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
          	<h3>添加供应商报价</h3>
		  		<div class="row mt">
                    <div class="col-lg-12">
			  		<div class="col-lg-12">
                      <div class="content-panel">
                      <h4> 报价申请详情</h4>
                          <section id="unseen">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>报价申请信息</th>
                                    </tr>
                                    </thead>
                                    <thead>
                                        {% for c in quotation %}
                                        <tr>
                                            <td>
                                                <label>报价申请单编码：</label>
                                                <label id="quoid">{{ c.id }}</label>
                                            </td>
                                            <td>
                                                <label>创建者编码：</label>
                                                <label>{{ c.euser_id }}</label>
                                            </td>
                                        </tr>
                                        <tr>
                                          
                                            <td>
                                                <label>询价单的截止日期：</label>
                                                <label id="duedate">{{ c.deadline.day }}. {{ c.deadline.month }}. {{ c.deadline.year }}</label>
                                            </td>
                                            
                                            <td>
                                                <label>创建时间：</label>
                                                <label>{{ c.time.day }}. {{ c.time.month }}. {{ c.time.year }}</label>
                                            </td>
                                        </tr>
                                        {% endfor %}
                        
                                </thead>
                    
                            </table>



                              
                              <table class="table">
                                <thead>
                                <tr>

                                    <th>商品信息</th>
                                    
                                </tr>
                                </thead>
                                <tbody>
                                    {% for c in materialitem %}
                                    <tr>
                                        <td>
                                            <label>采购组织：</label>
                                            <label>{{c.meterial__stock__pOrg}}</label>
                                        </td>
                                        
                                        <td>
                                            <label>采购组：</label>
                                            <label>{{c.meterial__stock__pGrp}}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>商品编码：</label>
                                            <label>{{c.meterial__id}}</label>
                                        </td>
                                        <td>
                                            <label>采购数量：</label>
                                            <label>{{ c.quantity }}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>送货时间：</label>
                                            <label>{{ c.deliveryDate }}</label>
                                        </td>
                                        <td>
                                            <label>工厂：</label>
                                            <label>{{c.meterial__stock__name}}</label>
                                        </td>
                                        <td>
                                            <label>存储位置：</label>
                                            <label>{{c.meterial__sloc}}</label>
                                        </td>
                                       
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        
                            <table class="table">
                                <thead>
                                <tr>
                                    {% for c in vendor %}

                                    <th style="display: flex;justify-content: space-between;">
                                        供应商相关信息
                                        <div style="margin-left: 2%;">
                                          <label><span class="iconfont">&#xf0290;</span>&nbsp;供应商评分：</label>
                                          <label>{{ c.score }}</label>
                                        </div>
                                </th>
                                    
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <label>供应商编码：</label>
                                            <label>{{ c.vid }}</label>
                                        </td>
                                        <td>
                                            <label>供应商名称：</label>
                                            <label>{{ c.vname }}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>城市：</label>
                                            <label>{{ c.city }}</label>
                                        </td>
                                        <td>
                                            <label>街区地址：</label>
                                            <label>{{ c.address }}</label>
                                        </td>
                                        <td>
                                            <label>供应商邮编：</label>
                                            <label>{{ c.postcode }}</label>
                                        </td>
                                    </tr>

                                    {% endfor %}
                                </tbody>
                            </table>


                           
	<!-- INLINE FORM ELELEMNTS -->
    <div class="row mt">
        <div class="col-lg-12">
            <div class="form-panel">
              <h4 class="mb">报价</h4>

                <table class="table">
                <thead>
                <tr>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label>报价：</label>
                            <div class="form-group" style="display:flex">
                                <input  class="form-control" name="price" placeholder="报价数值" id="price" style="width:200px"><input  class="form-control" placeholder="单位"  name="currency" id="danwei" style="width:100px">
                            </div>
                        </td>
                        <td>
                            <label>报价有效期：</label>
                            <div class="form-group">
                                <input  class="form-control"   name="validTime" placeholder="Valid to"  onclick="date(this)" id="validTime" style="width:200px">
                            </div>
                        </td>
                       
                    </tr>
                </tbody>
            </table>
            <div id="btn-vq-create">
                <button  class="btn btn-primary btn-lg btn-block" onclick="create()">添加供应商报价</button>
        </div>
            
            {% if insertmessage %}
                                     <script>
                                        mes = "{{insertmessage}}";
                                        if (!mes.match("insertmessage"))
                                        alert(mes)
                                      //  showMessage({text: mes,type: 'success'})  //成功
                                     </script>      
               {% endif %}     
            </div><!-- /form-panel -->
        </div><!-- /col-lg-12 -->
    </div><!-- /row -->

                      

 <!--结算货币modal-->
 <div class="col-sm-12">
    <div class="modal fade" id="myModalcurr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">货币</h4>
            </div>
            <div class="modal-body">
            *双击填入货币
            <table  class="table table-bordered table-striped table-condensed">
                <thead>
                    <!-- tr 指定表行标签-->
                    <tr>
                        <!-- th 设置表头内容，默认加粗-->
                        <th style="width: 100px;">序号</th>
                        <th style="width: 120px;">货币</th>
                        <th>名称</th>
                    </tr>
                </thead>
                <tbody id="currDiv">

                </tbody>
            </table>

                </div>
                <div class="modal-footer">
                </div>
            </div>
            </div>
        </div>
        </div>
    <!--结算货币modal-->

                            
                          </section>
                    </div><!-- /content-panel -->
                </div><!-- /col-lg-4 -->			
		  	</div><!-- /r ow -->

                </div>
		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <!--footer start-->
     
      <!--footer end-->
  </section>

   
    <script>
        function date(time){
            var datepicker = new TheDatepicker.Datepicker(time);
            datepicker.render();
            }
    </script>
    <script>



        $(document).ready(function() {
            
            $.ajax(
            {
                type: "post",
                url: "{% url 'MM:ajax_load_currency' %}",
                data:{
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(data) {
                    var dataObj = eval("("+data+")");
                    var out = "";
                    var i;
                    for(i = 0; i < dataObj.length; i++) {
                        out += '<tr><td>'+ i + '</td><td>' +dataObj[i].Currency + '</td><td>' + dataObj[i].Name +'</td><tr>';
                            //out += '<option value=' + +'>'+ dataObj[i].Currency + '--' + dataObj[i].Name + '</option>' ;
                    }
                    document.getElementById("currDiv").innerHTML=out;
                    
                },
                failure: function() {

                }
            })
        });

            // 双击表格行填入货币
            $("#currDiv").on("dblclick", "tr", function(e) {
                var currency = $(this).find('td').eq(1).text();
                document.getElementById("currency2").value = currency;
                $('#myModalcurr').modal('hide');
            });
            // 显示货币选择模态框
            function currencyf() {
                $("#myModalcurr").modal("show");
            }

        $("table").on("dblclick","tr",function(e){
            
            document.getElementById("danwei").value=$(this).find('td').eq(1).text();
            $('#myModalcurr').modal('hide')
            
        });
      

    </script>
<script>
function create(){
    var duedate=document.getElementById("duedate").innerHTML
    var validto=$("#validTime").val()
    let due = duedate.match(/\d+/g);
    let valid = validto.match(/\d+/g)
    var dday=due[0]
    var dmonth=due[1]
    var dyear=due[2]
    var vday=valid[0]
    var vmonth=valid[1]
    var vyear=valid[2]

    var date = new Date(); 
    var year = date.getFullYear(); 
    var month = date.getMonth() + 1;
    var day = date.getDate();
   

    console.log(parseInt(dday))
   if(parseInt(year) > parseInt(dyear) || (parseInt(year) == parseInt(dyear) && parseInt(month) > parseInt(dmonth)) ||( parseInt(year) == parseInt(dyear) && parseInt(month) == parseInt(dmonth) && parseInt(day) > parseInt(dday)))
    showMessage({text: '截止日期已过，无法添加报价!',type: 'warning'})
    else if(parseInt(vyear) < parseInt(dyear) || (parseInt(vyear) == parseInt(dyear) && parseInt(vmonth) < parseInt(dmonth)) ||( parseInt(vyear) == parseInt(dyear) && parseInt(vmonth) == parseInt(dmonth) && parseInt(vday) < parseInt(dday)))
    showMessage({text: '报价有效期必须在截止日期之后!',type: 'warning'})
    else  {

        var quoid=document.getElementById("quoid").innerHTML
        var price=$("#price").val()
        var danwei=$("#danwei").val()
        console.log(quoid,price,danwei,validto)

        $.ajax({
            type: 'post',
            url: '/mm/quotation/vqcreatejiekou/',
            data:{
                "quoid": quoid,
                "price": price,
                "currency": danwei,
                "validTime": validto
            },
            success: function (data) {
        showMessage({text: '添加成功！',type: 'success'})  //成功


            }
        });     



    } 
}
</script>
  </body>
</html>
{% endblock %}