{% extends 'template.html' %}
{% load static %}
{% block main_content %}
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->


      <section id="main-content">
          <section class="wrapper">
          	<h3><i class="fa fa-angle-right"></i> 修改供应商报价</h3>
		  		<div class="row mt">
                    <button  class="btn btn-danger" id="denybtn" style="margin-left:87%" onclick="deny()">拒绝供应商报价</button>

                    <div class="col-lg-12">
			  		<div class="col-lg-12">
                      

                        <div class="content-panel">
                      <h4><i class="fa fa-angle-right"></i> 供应商报价详情

                        {% for a in quotation %}
                    <label style="margin-left: 76%;color:brown;font-size:larger" >拒绝情况：<label id="rej">{{a.rej}}</label></label>
                    
                    </h4>
                          <section id="unseen">


                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>基本信息</th>

                                    </tr>
                                    </thead>
                                    <thead>
                                    <tr>
                                        <td>
                                            <label>报价申请单编码：</label>
                                            <label id="rid">{{a.id}}</label>
                                        </td>
                                        <td>
                                            <label>创建者编码：</label>
                                            <label>{{a.euser_id}}</label>
                                        </td>
                                        <td>
                                            <label>参考请购单编码：</label>
                                            <label>{{a.ri_id}}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td  class="vq-modify-td">
                                            <label>询价单的截止日期：</label>
                                            <input type="text" name="deadline" class="form-control vqm-text" onclick="date(this)" value="{{a.deadline.day}}. {{a.deadline.month}}. {{a.deadline.year}}" id="deadline">
                                        </td>

                                        <td>
                                            <label>创建时间：</label>
                                            <label>{{a.time}}</label>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                        </td>
                                    </tr>

                                </thead>

                            </table>




                              <table class="table">
                                <thead>
                                <tr>
                                    <th>采购相关信息</th>

                                </tr>
                                </thead>
                                <tbody>
                                    {% for d in caigou %}
                                    <tr>
                                        <td>
                                            <label>采购组织：</label>
                                            <label>{{d.meterial__stock__pOrg}}</label>
                                        </td>

                                        <td>
                                            <label>采购组：</label>
                                            <label>{{d.meterial__stock__pGrp}}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>商品编码：</label>
                                            <label>{{d.meterial__material__id}}</label>
                                        </td>
                                        <td  class="vq-modify-td">
                                            <label>采购数量：</label>
                                            <label id="requisition_quantity">{{d.quantity}}</label>
                                        </td>
                                        <td>
                                            <label>工厂：</label>
                                            <label>{{d.meterial__stock__name}}</label>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td  class="vq-modify-td">
                                            <label>送货时间：</label>
                                            <input type="text"  name="deliverDate" class="form-control vqm-text" onclick="date(this)" value="{{a.deliveryDate.day}}. {{a.deliveryDate.month}}. {{a.deliveryDate.year}}" id="deliveryDate">
                                        </td>
                                        <td>
                                            <label>存储位置：</label>
                                            <label>{{d.meterial__sloc}}</label>
                                        </td>
                                        <td  class="vq-modify-td">
                                            <label>集合码：</label>
                                            <input type="text"  name = "collNo" class="form-control vqm-text" value="{{a.collNo}}" id="collNo">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        </td>
                                    </tr>

                                    {%endfor%}
                                </tbody>
                            </table>

                            <table class="table">
                                <thead>
                                <tr>
                                    {% for c in vendor %}

                                    <th style="display: flex;justify-content: space-between;">
                                        供应商相关信息
                                        <div style="margin-left: 2%;">
                                          <label><span class="iconfont">&#xf0290;</span>&nbsp;供应商评分：</label>
                                          <label>{{c.score}}</label>
                                        </div>
                                </th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <label>供应商编码：</label>
                                            <label>{{c.vid}}</label>
                                        </td>
                                        <td>
                                            <label>供应商名称：</label>
                                            <label>{{c.vname}}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>城市：</label>
                                            <label>{{c.city}}</label>
                                        </td>
                                        <td>
                                            <label>街区地址：</label>
                                            <label>{{c.address}}</label>
                                        </td>
                                        <td>
                                            <label>供应商邮编：</label>
                                            <label>{{c.postcode}}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        </td>
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>

                            <table class="table">
                                <thead>
                                <tr>
                                    <th>报价信息</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for b in baojia %}
                                    <tr>
                                        <td>
                                            <label>报价：</label>
                                            <label>{{b.price}}</label>&nbsp;&nbsp;<label>{{a.currency}}</label>
                                        </td>
                                        <td>
                                            <label>报价有效期：</label>
                                            <label>{{b.validTime}}</label>
                                        </td>
                                        <td>
                                            <label>报价数量：</label>
                                            <input type="text" name ="quantity" class="form-control vqm-text" value="{{b.quantity}}" id="quantity" style="display: inline-block;">
                                        </td>
                                        <td>
                                            <label>总价：</label>
                                            <label>{{b.sum}}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        
                                    </tr>
                                </tbody>

                            </table>

                            <div id="btn-vqm">
                               
                                <button  class="btn btn-primary btn-lg btn-block" onclick="save()">保存</button>
                            </div>
                            {%endfor%}
                            {%endfor%}

                          </section>
                    </div><!-- /content-panel -->
                </div><!-- /col-lg-4 -->
		  	</div><!-- /r ow -->

                </div>
		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <!--footer start-->
     
      <!--footer end-->
  </section>

  <!-- js placed at the end of the document so the pages load faster -->



<script>
    
//   if(==1)
 //   $("#deny").prop("checked",true); //勾选
//else $("#deny").prop("checked",false);//取消勾选

</script>
<script>
    var obj = new Boolean(false);

    $(document).ready(function () {
        var rej=document.getElementById("rej").innerHTML
        if(rej=="False")
        $("#denybtn").show()
        else 
        {
            $("#denybtn").hide();
            obj=true
    }
    })
    
    function date(time){
        var datepicker = new TheDatepicker.Datepicker(time);
        datepicker.render();

        }

        function deny(){
            obj=true
            showMessage({text: '拒绝成功！请保存。',type: 'success'})
        }

    function save(){
        var rid=document.getElementById("rid").innerHTML
        var deadline=$("#deadline").val()
        var deliveryDate=$("#deliveryDate").val()
        var quantity=$("#quantity").val()
        var collNo=$("#collNo").val()
        if(parseInt($("#requisition_quantity").text(),10) < parseInt(quantity,10)){
            showMessage({text: '报价数量应小于等于采购数量',type: 'error'})
            return
        }
        $.ajax({
            type: 'post',
            url: '/mm/purchaseorder/quomodifyjiekou/',
            data:{
                "id": rid,
                "deadline": deadline,
                "deliveryDate": deliveryDate,
                "quantity": quantity,
                "collNo": collNo,
                "rej": obj
            },
            success: function (data) {
                showMessage({text: '保存成功！',type: 'success'})
            }
        });     
    }
</script>
  </body>
</html>
{% endblock %}