{% extends 'template.html' %}

{% load static %}
{% block extra_css %}



    <script>

        function re() {
            document.getElementById("fu").style.display = "none";
            document.getElementById("yuan").style.display = "";
        }
    </script>


{% endblock %}
{% block main_content %}
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> 创建发票收据</h3>
            <!--h3 id="item_result">&nbsp;1111</h3-->
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <div class="content-panel">
                            <h4><i class="fa fa-angle-right"></i> 发票收据信息</h4>
                            <section id="unseen">
                                <form id="material3">
                                    <table class="table">

                                        <tbody>
                                        <tr>
                                            <td>
                                                <label>采购订单编码：</label>
                                                <label id='po_id'>{{ context.po }}</label>
                                            </td>
                                            <td style="width: 350px;">
                                                <label>次序：</label>
                                                <label id='oi_id'>{{ context.itemId }}</label>
                                            </td>

                                        </tr>


                                    </table>
                                    <table class="table">

                                        <tbody>
                                        <tr>
                                            <td>
                                                <label>总金额：</label>
                                                <label><input type="text" id='sumAmount' required></label>
                                            </td>
                                            <td>
                                                <label>交易货币：</label>
                                                <label><input type="text" id="currency" value="{{ context.currency }}" disabled></label>
                                            </td>

                                        </tr>

                                        <tr>
                                            <td>
                                                <label>发票日期：</label>
                                                <label><input type="text" id="my-input" required></label>
                                            </td>

                                            <td>
                                                <label>过账日期：</label>
                                                <label><input type="text" id="my-input2" required></label>
                                            </td>
                                            <td>
                                                <label>财年：</label>
                                                <label><input type="text" id='fiscal' required></label>
                                            </td>
                                        </tr>


                                        </tbody>
                                    </table>
                                    <table class="table">

                                        <tbody>
                                        <tr>
                                            <td>
                                                <label>备注：</label>
                                                <label><input type="text" id='Test'></label>
                                            </td>

                                        </tr>


                                        </tbody>
                                    </table>

                                    <div class="col-sm-9"></div>
                                    <button class="btn btn-danger btn-xs" type="reset">重置</button>
                                    <div class="col-sm-2"></div>
                                    <button class="btn btn-primary btn-xs" type="submit" formmethod="post"
                                            onclick="return tip()">提交
                                    </button>
                                </form>


                            </section>
                        </div><!-- /content-panel -->
                    </div>
                </div><!-- /col-md-12 -->
            </div><!-- /row -->

        </section>
    </section><!-- /MAIN CONTENT -->
{% endblock %}


{% block js %}
    <script>

        //提交
        $('#material3').on('submit', function (e) {
            e.preventDefault();
            $.ajax(
                {
                    type: "POST",
                    url: "{% url 'MM:ajax_create_invoice' %}",
                    data: {
                        dataType: "json",
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        //$("#id").html() 这样取label内的值
                        po_id: $("#po_id").html(),
                        oi_id: $("#oi_id").html(),// itemId
                        sumAmount: $("#sumAmount").val(),
                        fiscal: $("#fiscal").val(),
                        currency: $("#currency").val(),
                        text: $("#Test").val(),
                        postDate: $("#my-input").val(),
                        invoiceDate: $("#my-input2").val(),
                        //两个评分的id是startP、startP2；两个日期的id是my-input、my-input2；
                    },
                    success: function (data) {
                        $('#item_result').text(data);
                        var dataObj = eval("(" + data + ")");
                        if (dataObj.status == 1) {
                            showMessage({ text: dataObj.message,type: 'success'});
                                // 在显示成功消息后，跳转到指定页面
                        setTimeout(function() {
                            window.location.href = "/mm/invoice/order/display/{{ context.po }}/"; // 替换为实际的跳转地址
                        }, 2000); // 等待 2 秒钟，确保用户看到成功消息
                        } else {
                            showMessage({ text: dataObj.message,type: 'error'});
                        }

                    },
                    failure: function () {

                    }
                })
        });
    </script>


    <!-- 确认提示 -->
    <script>
        function tip() {

            if (confirm("您确认提交吗？")) {
                return true;
            } else {
                return false;
            }
        }
    </script>

    <script>
        (function () {
            const input = document.getElementById('my-input');
            const datepicker = new TheDatepicker.Datepicker(input);
            datepicker.render();
        })();
        (function () {
            const input = document.getElementById('my-input2');
            const datepicker = new TheDatepicker.Datepicker(input);
            datepicker.render();
        })();
    </script>
{% endblock %}

