{% extends 'template.html' %}
{% load static %}
{% block extra_css %}




{% endblock %}
{% block main_content %}
<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> 查看发票收据</h3>

        <div class="row mt">
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <div class="pull-right">
                        <button type="button" class="btn btn-theme03" onclick="toPrint()">
                            <i class="fa fa-print" aria-hidden="true"></i> 打印
                        </button>
                    </div>
                    <br><br>
                    <div id='form'>
                        <div class="content-panel" id="print">
                            <h4 style="text-align:center">发票收据</h4>
                            <h5 style="text-align:center">供应商：{{ context.vendor.vname }}</h5>
                                <section id="unseen">
                                    <table class="table">

                                        <tbody>
                                        <tr>
                                            <td style="text-align:right;">
                                                <label>发票收据编号：</label>
                                                <label>{{ context.id }}</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;">
                                                <label>开票日期：</label>
                                                <label>{{ context.invoice.invoiceDate }}</label>
                                            </td>
                                        </tr>

                                        </tbody>

                                    </table>


                                    <div class="row mt">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <div class="content-panel">
                                                    <!-- <div class="form-panel2"> -->
                                                    <table class="table table-striped table-advance table-hover">
                                                        {% comment %} <h4><i class="fa fa-angle-right"></i> 商品信息</h4> {% endcomment %}
                                                        <thead>
                                                        <tr>

                                                            {% comment %} <th><i class="fa fa-question-circle"></i> 商品编码</th> {% endcomment %}
                                                            <th> 商品名称</th>
                                                            <th> 数量</th>
                                                            <th> 单价</th><!--后面加上货币-->
                                                            <th> 总价</th>
                                                            <th> 备注</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>{{ context.material.mname }}</td>
                                                            <td>{{ context.gr.actualQnty }}</td>
                                                            <td>{{ context.price }} {{ context.currency }}</td>
                                                            <td>{{ context.invoice.sumAmount }} {{ context.invoice.currency }}</td>
                                                            <td>{{ context.invoice.text }}</td>

                                                        </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>发票详情</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <label>过账时间：</label>
                                                <label>{{ context.gr.postTime }}</label>
                                            </td>
                                            <td>
                                                <label>所属财年：</label>
                                                <label>{{ context.invoice.fiscal }}</label>
                                            </td>

                                            <td>
                                                <label>支付类型：</label>
                                                <label>{{ context.vendor.tpType }}</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>关联采购订单：</label>
                                                <label>{{ context.gr.id }}</label>
                                            </td>

                                            <td>
                                                <label>关联条目：</label>
                                                <label>{{ context.itemId }}</label>
                                            </td>
                                        </tr>


                                        </tbody>
                                    </table>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>供应商详情</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <label>编号: </label>
                                                <label>{{ context.vendor.vid }}</label>
                                            </td>
                                            <td>
                                                <label>地址：</label>
                                                <label>{{ context.vendor.address }}</label>
                                            </td>

                                            <td>
                                                <label>邮编：</label>
                                                <label>{{ context.vendor.postcode }}</label>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>

                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>公司详情</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>

                                            <td>
                                                <label>公司编码：</label>
                                                <label>{{ context.vendor.id }}</label>
                                            </td>

                                            <td>
                                                <label>工厂：</label>
                                                <label>{{ context.stock.name }}</label>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>

                                </section>
                        </div><!-- /content-panel -->
                    </div>
                </div>
            </div><!-- /col-md-12 -->
        </div><!-- /row -->

    </section>
</section>
{% endblock %}

{% block js %}

<script type="text/javascript">
    function toPrint() {
        $("#print").jqprint();
    }
</script>


{% endblock %}
