{% extends 'template.html' %}
{% load static %}
{% block extra_css %}

{% endblock %}
{% block main_content %}
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
          	<h3><i class="fa fa-angle-right"></i> 修改采购申请</h3>
          	
          	<!-- BASIC FORM ELELEMNTS -->
          	<div class="row mt">
                <div class="col-lg-12">
                <div class="form-panel">
                      <h4 class="mb"><i class="fa fa-angle-right"></i> 基本信息</h4>

                      {% for c in purchaseRequisition %}
                      <div class="form-group">
                          <label class="col-sm-2 col-sm-2 control-label">采购申请编码</label>
                          <div class="col-lg-10">
                              <p class="form-control-static" id="rid">{{c.id}}</p>
                          </div>
                      </div>
                      
                      <div class="form-group">
                          <label class="col-sm-2 col-sm-2 control-label">创建者编码</label>
                          <div class="col-lg-10">
                              <p class="form-control-static">{{c.euser_id}}</p>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 col-sm-2 control-label">创建时间</label>
                          <div class="col-lg-10">
                              <p class="form-control-static">{{c.time}}</p>
                          </div>
                      </div>


                                            <div class="form-group">
                          <label class="col-sm-2 col-sm-2 control-label">备注</label>
                          <div class="col-sm-10">
                              <input rows="3" name="beizhu" type="text" class="form-control" value="{{c.text}}" id="beizhu"></input>
                          </div>
                      </div>
                      {%endfor%}
                      <div class="form-group">
                      <div class="col-md-12 mt">
                          <div class="content-panel">
                              <table class="table table-hover">
                               <div id="table-pr-head"> <h4><i class="fa fa-angle-right"></i> 商品信息</h4>

                              </div>
                                  <thead>
                                  <tr>
                                      <th>#&nbsp 条目编码</th>
                                      <th>商品编码</th>
                                      <th>商品名称</th>
                                      <th>估价</th>
                                      <th>货币单位</th>
                                      <th>数量</th>
                                      <th>送货时间</th>
                                      <th>工厂</th>
                                      <th>存储位置</th>
                                      <th>状态</th>
                                      <th></th>
                                  </tr>
                                  </thead>
                                  <tbody id="gooddiv">
                                      {% for c in reuqe %}
                                      <tr>
                                          <td class="td-text"> <input type="text" class="form-control td-text-modify" value="{{c.itemId}}" ></td>
                                          <td class="td-text"> <input type="text" class="form-control td-text-modify" value="{{c.meterial__id}}" ></td>
                                          <td class="td-text"> <input type="text" class="form-control td-text-modify" value="{{c.meterial__material__mname}}"></td>
                                          <td class="td-text"> <input type="text" class="form-control td-text-modify" value="{{c.estimatedPrice}}"></td>
                                          <td class="td-text"> <input type="text" class="form-control td-text-modify" value="{{c.currency}}"></td>
                                          <td class="td-text"> <input type="text" class="form-control td-text-modify" value="{{c.quantity}}"></td>
                                          <td class="td-text" style="width:110px"> <input type="text" class="form-control td-text-modify"  value="{{c.deliveryDate.day}}. {{c.deliveryDate.month}}. {{c.deliveryDate.year}}"onclick="date(this)"></td>
                                          <td class="td-text"> <input type="text" class="form-control td-text-modify" value="{{c.meterial__material__mname}}"></td>
                                          <td class="td-text"> <input type="text" class="form-control td-text-modify" value="{{c.meterial__sloc}}"></td>
                                          <td class="td-text" id="state">{{c.status}}</td>
                                          <td>
                                              <button  class="btn btn-link" onclick="save(this)">保存</button> <!--不同状态保存成功失败的判断-->
                                          </td>
                                      </tr>
                                      {%endfor%}
                              </tbody>
                              </table>

          </div><! --/content-panel -->

          </div><!-- /col-md-12 -->
      </div>
      <div id="btn-pr-create">
          <button type="submit" class="btn btn-primary btn-lg btn-block" onclick="savepr()" >保存采购申请</button>
      </div>


                </div>
                </div><!-- col-lg-12-->
            </div><!-- /row -->





		</section><! --/wrapper -->

      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <!--footer start-->
     
      <!--footer end-->
  </section>
{% endblock %}

{% block js %}


    <script>
        hljs.highlightAll();
    </script>





        <script>
            function date(time){
            var datepicker = new TheDatepicker.Datepicker(time);
            datepicker.render();
            }
    </script>

<script>
   /* confirmo.init({
        yesBg: 'red',
        noBg: 'green'
    });
     function hello() {
        alert('修改成功');
    }
    */
    function save(nowTr){ //保存
        //保存失败
         var $td=$(nowTr).parent().parent();
         var state=$td.find("#state").text();
         if($.trim(state) == "已创建采购订单")
         showMessage({text: '已创建采购订单，无法修改。',type: 'warning'})
         else  {
        var rid=document.getElementById("rid").innerHTML
        var itemId = $(nowTr).parent().parent().children().eq(0).children().val();
        var mid = $(nowTr).parent().parent().children().eq(1).children().val();
        var mname = $(nowTr).parent().parent().children().eq(2).children().val();
        var estimatedPrice = $(nowTr).parent().parent().children().eq(3).children().val();
        var currency = $(nowTr).parent().parent().children().eq(4).children().val();
        var quantity = $(nowTr).parent().parent().children().eq(5).children().val();
        var deliveryDate = $(nowTr).parent().parent().children().eq(6).children().val();
        var plant = $(nowTr).parent().parent().children().eq(7).children().val();
        var sloc = $(nowTr).parent().parent().children().eq(8).children().val();
        var $td=$(nowTr).parent().parent();
        var state=$td.find("#state").text();
        console.log(rid,itemId,mid,mname,estimatedPrice,currency,quantity,deliveryDate,plant,sloc)
        $.ajax({
            type: 'post',
            url: '/mm/purchaserequisition/getmodifyinfo2/',
            data:{
              "rid": rid,
              "itemId": itemId,
              "meterial__id": mid,
              "mname": mname,
              "estimatedPrice": estimatedPrice,
              "currency": currency,
              "quantity": quantity,
              "deliveryDate": deliveryDate,
              "meterial__material__mname": plant,
              "meterial__sloc": sloc
          },
            success: function (data) {
                showMessage({text: '修改成功！',type: 'success'})  //成功

         }
      })

    }
    }

    function savepr(){ //保存备注
        var rid=document.getElementById("rid").innerHTML
        var beizhu=$("#beizhu").val()
        console.log(rid,beizhu)
        $.ajax({
            type: 'post',
            url: '',
            data:{
              "rid": rid,
              "beizhu" :beizhu
          },
            success: function (data) {
                showMessage({text: '保存采购申请成功！',type: 'success'})  //成功

         }
      })

    }
</script>
{% endblock %}

