{% extends 'template.html' %}
{% load static %}
{% block extra_css %}

{% endblock %}
{% block main_content %}
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">


            <div class="row mt">
                <div class="col-lg-12">

                    <div class="wrap" style="margin-left: 240px;margin-top: 200px;">
                        <div class="wrap-row1" style="display: block; width: 100%;">	
                  <div class="col-md-4 col-sm-4 mb" >
                      <a href="/mm/purchaserequisition/newinsertreque/">
                      <div class="darkblue-panel pn"style="height: 150px;">
                          <div class="darkblue-header">
                          </div>
                          <br>
                        <footer>
                            <div class="centered">
                                <h3>创建采购申请</h3>
                            </div>
                        </footer>
                      </div><! -- /darkblue panel -->
                  </a>
                  </div><!-- /col-md-4 -->

            <div class="col-md-4 col-sm-4 mb" style="margin-left: 60px;" >
              <a href="/mm/purchaserequisition/getpq/">
              <div class="darkblue-panel pn" style="height: 150px;">
                <div class="darkblue-header">
                </div>
                <br>
              <footer>
                    <div class="centered">
                      <h3>查看或修改采购申请</h3>
                    </div>
                </footer>
              </div><! -- /darkblue panel -->
          </a>
          </div><!-- /col-md-4 -->
        </div>	

      
</div>

                </div>
            </div>
                  
    

                      
                  </div><!-- /col-lg-3 -->
              </div><! --/row -->
          </section>
      </section>

      <!--main content end-->
      <!--footer start-->
    
  </section>


{% endblock %}

{% block js %}
	<script type="application/javascript">
        $(document).ready(function () {
            $("#date-popover").popover({html: true, trigger: "manual"});
            $("#date-popover").hide();
            $("#date-popover").click(function (e) {
                $(this).hide();
            });
        
            $("#my-calendar").zabuto_calendar({
                action: function () {
                    return myDateFunction(this.id, false);
                },
                action_nav: function () {
                    return myNavFunction(this.id);
                },
                ajax: {
                    url: "show_data.php?action=1",
                    modal: true
                },
                legend: [
                    {type: "text", label: "Special event", badge: "00"},
                    {type: "block", label: "Regular event", }
                ]
            });
        });
        
        
        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
    </script>

{% endblock %}