{% extends 'template.html' %}
{% load static %}

{% block extra_css %}

{% endblock %}
{% block main_content %}

    <section id="main-content" style="margin: 0px 10px 15px 210px">
        <section class="wrapper">
            <!-- 第一行 -->
            <div class="row mt">
                <!-- 第一行第一列 -->
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="row"> <h3 style="margin-left:30px;"><i class="fa fa-angle-right"></i> 供应商管理</h3>
                        </div>
                    <div class="row">
                        <div>
                            <div class="col-md-4 col-sm-4 mb">
                                <a href="/mm/vendor/create/">
                                    <div class="darkblue-panel pn" style="height: 180px">
                                        <div class="darkblue-header">
                                        </div>
                                        <h1 class="mt"><span class="iconfont" style="font-size: 150%;">&#xe65e;</span>
                                        </h1>
                                        <br>
                                        <footer>
                                            <div class="centered">
                                                <h4>创建新供应商</h4>
                                            </div>
                                        </footer>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 mb">
                                <a href="/mm/vendor/search/">
                                    <div class="darkblue-panel pn" style="height: 180px;">
                                        <div class="darkblue-header">
                                        </div>
                                        <h1 class="mt"><span class="iconfont" style="font-size: 150%;">&#xe65e;</span>
                                        </h1>
                                        <br>
                                        <footer>
                                            <div class="centered">
                                                <h4>查看或修改<br>供应商信息</h4>
                                            </div>
                                        </footer>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 mb">
                                <a href="/mm/vendor/history/">
                                    <div class="darkblue-panel pn" style="height: 180px;">
                                        <div class="darkblue-header">
                                        </div>
                                        <h1 class="mt"><span class="iconfont" style="font-size: 150%;">&#xe65e;</span>
                                        </h1>
                                        <br>
                                        <footer>
                                            <div class="centered">
                                                <h4>供应商交易<br>历史汇总</h4>
                                            </div>
                                        </footer>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--第一行第二列-->
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <div class="row"><h3 style="margin-left:30px;"><i class="fa fa-angle-right"></i> 商品管理</h3>
                        </div>
                    <div class="row">
                        <div>
                            <div class="col-md-4 col-sm-4 mb">
                                <a href="/mm/material/item/create/">
                                    <div class="darkblue-panel pn" style="height: 180px;">
                                        <div class="darkblue-header">
                                        </div>
                                        <h1 class="mt"><span class="iconfont" style="font-size: 150%;">&#xe64b;</span>
                                        </h1>
                                        <br>
                                        <footer>
                                            <div class="centered">
                                                <h4>创建新商品</h4>
                                            </div>
                                        </footer>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 mb">
                                <a href="/mm/material/search/">
                                    <div class="darkblue-panel pn" style="height: 180px;">
                                        <div class="darkblue-header">
                                        </div>
                                        <h1 class="mt"><span class="iconfont" style="font-size: 150%;">&#xe64b;</span>
                                        </h1>
                                        <br>
                                        <footer>
                                            <div class="centered">
                                                <h4>查看或修改<br>商品信息</h4>
                                            </div>
                                        </footer>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 mb">
                                <a href="/mm/material/item/stock/">
                                    <div class="darkblue-panel pn" style="height: 180px;">
                                        <div class="darkblue-header">
                                        </div>
                                        <h1 class="mt"><span class="iconfont" style="font-size: 150%;">&#xe64b;</span>
                                        </h1>
                                        <br>
                                        <footer>
                                            <div class="centered">
                                                <h4>查看商品库存</h4>
                                            </div>
                                        </footer>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 第二行 -->
            <div class="row mt">
                <!-- 第二行第一列 -->
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="row"><h3 style="margin-left:30px;"><i class="fa fa-angle-right"></i> 采购管理</h3>
                        </div>
                    <div class="row">
                        <div>
                            <div class="col-md-4 col-sm-4 mb">
                                <a href="/mm/purchaserequisition/prmanage">
                                    <div class="darkblue-panel pn" style="height: 180px;">
                                        <div class="darkblue-header">
                                        </div>
                                        <h1 class="mt"><span class="iconfont" style="font-size: 150%;">&#xe8f2;</span>
                                        </h1>
                                        <br>
                                        <footer>
                                            <div class="centered">
                                                <h4>采购申请</h4>
                                            </div>
                                        </footer>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 mb">
                                <a href="/mm/purchaserequisition/quoma">
                                    <div class="darkblue-panel pn" style="height: 180px;">
                                        <div class="darkblue-header">
                                        </div>
                                        <h1 class="mt"><span class="iconfont" style="font-size: 150%;">&#xe8f2;</span>
                                        </h1>
                                        <br>
                                        <footer>
                                            <div class="centered">
                                                <h4>供应商评估管理</h4>
                                            </div>
                                        </footer>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 mb">
                                <a href="/mm/purchaserequisition/pomanage">
                                    <div class="darkblue-panel pn" style="height: 180px;">
                                        <div class="darkblue-header">
                                        </div>
                                        <h1 class="mt"><span class="iconfont" style="font-size: 150%;">&#xe8f2;</span>
                                        </h1>
                                        <br>
                                        <footer>
                                            <div class="centered">
                                                <h4>采购订单</h4>
                                            </div>
                                        </footer>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 第二行第二列 -->
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="row"><h3 style="margin-left:30px;"><i class="fa fa-angle-right"></i> 收货管理</h3>
                        </div>
                    <div class="row">
                        <div>
                            <div class="col-md-4 col-sm-4 mb">
                                <a href="/mm/receipt/orders/search/">
                                    <div class="darkblue-panel pn" style="height: 180px;">
                                        <div class="darkblue-header">
                                        </div>
                                        <h1 class="mt"><span class="iconfont" style="font-size: 150%;">&#xe62f;</span>
                                        </h1>
                                        <br>
                                        <footer>
                                            <div class="centered">
                                                <h4>创建商品收据</h4>
                                            </div>
                                        </footer>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 mb">
                                <a href="/mm/receipt/search/">
                                    <div class="darkblue-panel pn" style="height: 180px;">
                                        <div class="darkblue-header">
                                        </div>
                                        <h1 class="mt"><span class="iconfont" style="font-size: 150%;">&#xe62f;</span>
                                        </h1>
                                        <br>
                                        <footer>
                                            <div class="centered">
                                                <h4>查看商品收据</h4>
                                            </div>
                                        </footer>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 mb">
                                <a href="/mm/invoice/orders/search/">
                                    <div class="darkblue-panel pn" style="height: 180px;">
                                        <div class="darkblue-header">
                                        </div>
                                        <h1 class="mt"><span class="iconfont" style="font-size: 150%;">&#xe62f;</span>
                                        </h1>
                                        <br>
                                        <footer>
                                            <div class="centered">
                                                <h4>创建发票收据</h4>
                                            </div>
                                        </footer>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <div class="col-md-4 col-sm-4 mb">
                                <a href="/mm/invoice/search/">
                                    <div class="darkblue-panel pn" style="height: 180px;">
                                        <div class="darkblue-header">
                                        </div>
                                        <h1 class="mt"><span class="iconfont" style="font-size: 150%;">&#xe62f;</span>
                                        </h1>
                                        <br>
                                        <footer>
                                            <div class="centered">
                                                <h4>查看发票收据</h4>
                                            </div>
                                        </footer>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 mb">
                                <a href="/mm/invoice/payment/">
                                    <div class="darkblue-panel pn" style="height: 180px;">
                                        <div class="darkblue-header">
                                        </div>
                                        <h1 class="mt"><span class="iconfont" style="font-size: 150%;">&#xe62f;</span>
                                        </h1>
                                        <br>
                                        <footer>
                                            <div class="centered">
                                                <h4>付款</h4>
                                            </div>
                                        </footer>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

{% endblock %}

{% block js %}



    <script type="application/javascript">
        $(document).ready(function () {
            $("#date-popover").popover({html: true, trigger: "manual"});
            $("#date-popover").hide();
            $("#date-popover").click(function (e) {
                $(this).hide();
            });

            $("#my-calendar").zabuto_calendar({
                action: function () {
                    return myDateFunction(this.id, false);
                },
                action_nav: function () {
                    return myNavFunction(this.id);
                },
                ajax: {
                    url: "show_data.php?action=1",
                    modal: true
                },
                legend: [
                    {type: "text", label: "Special event", badge: "00"},
                    {type: "block", label: "Regular event",}
                ]
            });
        });


        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
    </script>

{% endblock %}