<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>DASHGUM - Bootstrap Admin Template</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static 'assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style-responsive.css' %}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css">
    <link rel="stylesheet" href="{% static 'assets/css/register_style.css' %}">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .action-button {
            background-color: #2a3f54 !important; /* 深蓝色背景 */
            border: none;
            color: #ffffff; /* 白色文本 */
        }

        #progressbar li.active:before,
        #progressbar li:before {
            background: #2a3f54; /* 深蓝色圆球 */
            color: #ffffff; /* 白色文本 */
        }

        #progressbar li.active {
            color: #2a3f54 !important; /* 深蓝色文本 */
        }

        /* 字体加大 */
        #progressbar li {
            font-size: 18px; /* 增大字体 */
            font-weight: bold; /* 字体加粗 */
        }

        /* 修改圆球色块之间连线的初始颜色为白色 */
        #progressbar li:after {
            background: #ffffff; /* 初始为白色 */
        }

        /* 激活状态下变为深蓝色 */
        #progressbar li.active:after {
            background: #2a3f54; /* 深蓝色进度条 */
        }




    </style>

  </head>

  <body>

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->

	  <div id="login-page">
	  	<div class="container">

        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <form id="msform" action="{% url 'MM:register' %}" method="post">
              {% csrf_token %}
              <!-- progressbar -->
              <ul id="progressbar">
                <li class="active">个人信息</li>
                <li>账号信息</li>
                <li>设置密码</li>
              </ul>
              <!-- fieldsets -->
              <fieldset>
                <h2 class="fs-title">个人信息</h2>
                <br>
                <input type="text" name="username" placeholder="用户名" autofocus>
                <input type="text" name="first_name" placeholder="名">
                <input type="text" name="last_name" placeholder="姓">
                <input type="button" name="next" class="next action-button" value="下一步"/>
              </fieldset>

              <fieldset style="display:none;">
                <h2 class="fs-title">账号信息</h2>
                <br>
                <input type="email" name="email" placeholder="邮箱地址">
                <input type="text" name="sector" placeholder="部门">
                <input type="tel" name="phone" placeholder="电话">
                <input type="button" name="previous" class="previous action-button-previous" value="上一步"/>
                <input type="button" name="next" class="next action-button" value="下一步"/>
              </fieldset>

              <fieldset style="display:none;">
                <h2 class="fs-title">设置密码</h2>
                <br>
                <input type="password" name="password" placeholder="密码" id="pw">
                <div id="tipshow" style="display:none">
                  <div id="tips">
                    <b></b>
                    <b></b>
                    <b></b>
                    <b></b>
                    &nbsp&nbsp<span></span>
                  </div>
                </div>
                <label style="display:none" id="tishi"></label>
                <input type="password" name="password2" placeholder="再次输入密码" id="repw" onkeyup="checkpassword()">
                <select name="question1" class="form-control">
                  <option>请选择验证问题</option>
                  <option>我出生在哪个城市？</option>
                  <option>我最喜欢的运动是？</option>
                  <option>我最喜欢的颜色是？</option>
                  <option>我最喜欢的歌曲是？</option>
                  <option>我最喜欢的食物是？</option>
                </select>
                <input type="text" name="answer1" placeholder="答案1" style="margin-top:8px">
                <select name="question2" class="form-control">
                  <option>请选择验证问题</option>
                  <option>我出生在哪个城市？</option>
                  <option>我最喜欢的运动是？</option>
                  <option>我最喜欢的颜色是？</option>
                  <option>我最喜欢的歌曲是？</option>
                  <option>我最喜欢的食物是？</option>
                </select>
                <input type="text" name="answer2" placeholder="答案2" style="margin-top:8px">
                <input type="button" name="previous" class="previous action-button-previous" value="上一步"/>
                <button type="submit" class="action-button">立即注册</button>
                {% if message %}
                <script>
                    mes = "{{message}}";
                    if (!mes.match("message"))
                        alert(mes);
                </script>
                {% endif %}
              </fieldset>
            </form>
          </div>
        </div>
	  	</div>
	  </div>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
	  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!--BACKSTRETCH-->
    <script type="text/javascript" src="{% static 'assets/js/jquery.backstretch.min.js' %}"></script>
    <script>
        $.backstretch("{% static 'assets/img/12345.jpg' %}", {speed: 500});
    </script>

    <script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>

    <script type="text/javascript">
      function checkpassword() {
          var password = document.getElementById("pw").value;
          var repassword = document.getElementById("repw").value;
          var tishi =document.getElementById('tishi')
          if(password === repassword) {
            tishi.className = 'show';
            document.getElementById("tishi").innerHTML="<br><font color='green'>两次密码输入一致</font>";
            document.getElementById("submit").disabled = false;
          } else {
            tishi.className = 'show';
            document.getElementById("tishi").innerHTML="<br><font color='red'>两次输入密码不一致!</font>";
            document.getElementById("submit").disabled = true;
          }
      }

      $(document).ready(function(){
        var current_fs, next_fs, previous_fs; // fieldsets
        var animating; // flag to prevent quick multi-click glitches

        $(".next").click(function(){
          if(animating) return false;
          animating = true;

          current_fs = $(this).parent();
          next_fs = $(this).parent().next();

          // activate next step on progressbar using the index of next_fs
          $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

          // show the next fieldset
          next_fs.show();
          // hide the current fieldset
          current_fs.hide();
          animating = false;
        });

        $(".previous").click(function(){
          if(animating) return false;
          animating = true;

          current_fs = $(this).parent();
          previous_fs = $(this).parent().prev();

          // de-activate current step on progressbar
          $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

          // show the previous fieldset
          previous_fs.show();
          // hide the current fieldset
          current_fs.hide();
          animating = false;
        });
      });
    </script>
  </body>
</html>
