{% extends 'template.html' %}

{% load static %}
{% block extra_css %}

{% endblock %}


{% block main_content %}
    <section id="main-content">
        <section class="wrapper">
            <div class="row " style="margin: 30px 0 0 15px">
                <div class="col-sm-10">
                    <h3><i class="fa fa-angle-right"></i> 查看商品收据</h3>
                </div>
                <div class="col-sm-2" style="margin: 15px 0 0 0">
                    <button type="button" class="btn btn-theme03"
                            onclick="toPrint()"><i class="fa fa-print" aria-hidden="true"></i>
                        打印
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <br><br>
                        <div id='form'>
                            <div class="content-panel" id="print">
                                <div class="row">
                                <h4 style="text-align:center">商品收据</h4></div>
                                <div class="row" style="margin: 0 80px 0 80px">
                                <section id="unseen">

                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>基本信息</th>

                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr>
                                            <td>
                                                <label>商品收据编码：</label>
                                                <label>{{ context.gr.id }}</label>
                                            </td>
                                            <td>
                                                <label>创建者编码：</label>
                                                <label>{{ context.gr.euser }}</label>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <label>预期送达时间：</label>
                                                <label>{{ context.deliveryDate }}</label>
                                            </td>

                                            <td>
                                                <label>收货时间：</label>
                                                <label>{{ context.gr.time }}</label>
                                            </td>
                                            <td>
                                                <label>过账时间：</label>
                                                <label>{{ context.gr.postTime }}</label>
                                            </td>
                                        </tr>

                                        </tbody>

                                    </table>

                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>商品详情</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <label>商品名称：</label>
                                                <label>{{ context.material.mname }}</label>
                                            </td>

                                            <td>
                                                <label>完整名称：</label>
                                                <label>{{ context.material.shortText }}</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>应收数量：</label>
                                                <label>{{ context.quantity }}</label>
                                            </td>

                                            <td>
                                                <label>实收数量：</label>
                                                <label>{{ context.gr.actualQnty }}</label>
                                            </td>
                                        </tr>
                                        <thead>
                                        <tr>
                                            <th>库存信息</th>

                                        </tr>
                                        </thead>
                                        <tr>
                                            <td>
                                                <label>工厂：</label>
                                                <label>{{ context.stock.name }}</label>
                                            </td>

                                            <td>
                                                <label>存储位置：</label>
                                                <label>{{ context.materialItem.sloc }}</label>
                                            </td>
                                            <td>
                                                <label>库存类型：</label>
                                                <label>{{ context.gr.sType }}</label>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </section></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </section>
{% endblock %}

{% block js %}

    <script type="text/javascript">
        function toPrint() {
            $("#print").jqprint();
        }
    </script>
{% endblock %}
