{% extends 'template.html' %}
{% load static %}
{% block extra_css %}
    <style>
    .start3{
        text-align: center;
    }
    </style>
{% endblock %}

{% block main_content %}
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> 查看采购订单详情</h3>
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <div class="content-panel">
                            <section id="unseen">
                                <div class="row mt" style="margin:10px 0px 0px 40px">
                                <h4><i class="fa fa-angle-right"></i> 采购订单详情</h4>

                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>基本信息</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <label>采购订单编码：</label>
                                            <label>{{ purchaseOrder.id }}</label>
                                        </td>
                                        <td>
                                            <label>创建者编码：</label>
                                            <label>{{ user_id }}</label>
                                        </td>
                                        <td>
                                            <label>物资条数目：</label>
                                            <label>{{ itemNum }}</label>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <label>总价：</label>
                                            <label>{{ sum }}</label>
                                        </td>
                                        <td>
                                            <label>结算货币：</label>
                                            <label>{{ currency }}</label>
                                        </td>
                                        <td>
                                            <label>创建时间：</label>
                                            <label>{{ purchaseOrder.time }}</label>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>供应商信息</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <label>供应商编码：</label>
                                            <label>{{ vendor.vid }}</label>
                                        </td>
                                        <td>
                                            <label>城市：</label>
                                            <label>{{ vendor.city }}</label>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <label>供应商名称：</label>
                                            <label>{{ vendor.vname }}</label>
                                        </td>


                                        <td>
                                            <label>街区地址：</label>
                                            <label>{{ vendor.address }}</label>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <table class="table">
                                    <thead>
                                    <tr>

                                        <th>采购方信息</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>采购方电话：</label>
                                            <label>{{ purchaseOrder.telephone }}</label>
                                        </td>

                                        <td>
                                            <label>送货地址：</label>
                                            <label>{{ purchaseOrder.shippingAddress }}</label>
                                        </td>
                                        <td>
                                            <label>传真：</label>
                                            <label>{{ purchaseOrder.fax }}</label>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                </div>
                                <div class="row mt">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <div class="content-panel">
                                                <!-- <div class="form-panel2"> -->
                                                <table class="table table-striped table-advance table-hover">
                                                    <h4><i class="fa fa-angle-right"></i> 商品信息</h4>
                                                    <thead>
                                                    <tr>
                                                        <th class="start3"><i class="fa fa-question-circle"></i> 条目编码</th>
                                                        <th class="start3"><i class="fa fa-question-circle"></i> 商品编码</th>
                                                        <th class="start3"><i class="fa fa-bookmark"></i> 商品名称</th>
                                                        <th class="start3"><i class=" fa fa-edit"></i> 数量</th>
                                                        <th class="start3"><i class=" fa fa-edit"></i> 单价</th><!--后面加上货币-->
                                                        <th class="start3"><i class=" fa fa-edit"></i> 总价</th><!--后面加上货币-->
                                                        <th class="start3"><i class="fa fa-bookmark"></i> 工厂</th>
                                                        <th class="start3"><i class="fa fa-bookmark"></i> 存储位置</th>
                                                        <th class="start3"><i class=" fa fa-edit"></i> 送达时间</th>
                                                        <th class="start3"><i class="fa fa-bullhorn"></i> 订单状态</th>
                                                        <th class="start3">创建</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for c in orderItems %}
                                                        <tr>
                                                            <td class="start3">{{ c.itemId }}</td>
                                                            <td class="start3">{{ c.meterialItem__id }}</td>
                                                            <td class="start3">{{ c.meterialItem__material__mname }}</td>
                                                            <td class="start3">{{ c.quantity }}</td>
                                                            <td class="start3">{{ c.price }}</td>
                                                            <td class="start3">{{ c.sum }}</td>
                                                            <td class="start3">{{ c.meterialItem__stock__name }}</td>
                                                            <td class="start3">{{ c.meterialItem__sloc }}</td>
                                                            <td class="start3">{{ c.deliveryDate }}</td>
                                                            <td class="start3">{{ c.status }}</td>
                                                            {% if c.status == '货物未发出' %}
                                                            <td class="start3">
                                                                <a href="{% url 'MM:load_order_item_receipt' %}?itemID={{ c.itemId }}&orderID={{ purchaseOrder.id }}">点击创建</a>
                                                            </td>
                                                            {% else %}
                                                            <td class="start3">已创建收据</td>
                                                            {% endif %}

                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}

{% block js %}

{% endblock %}

